.header-content {
    // position: absolute;
    display: flex;
    align-items: center;

    img {
        border-radius: 50%;
        border: 3px solid rgba(82, 255, 229, 0.795);
    }
}

ion-content{

    h4{
        margin-left: 1px;
        font-size: 16px;
        align-items: center;
    }
}