<ion-header color="transparent">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
    </ion-buttons>
    <h2 style="    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;">Saúde</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>