<ion-header color="transparent">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
    </ion-buttons>
    <h2 style="    display: flex;
                    align-content: center;
                    justify-content: center;
                    align-items: center;">Saúde</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
<h2>{{showImcDescription('nome')}}</h2>
<p>{{showImcDescription('descrition')}}</p>

<h4>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id sit eu tellus sed cursus eleifend id porta. Lorem adipiscing mus vestibulum consequat porta eu ultrices feugiat. Et, faucibus ut amet turpis. Facilisis faucibus semper cras purus.
</h4>
</ion-content>