<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  Ola, usuário <br>
  seu imc é {{imc}}
  <img src="https://upload.wikimedia.org/wikipedia/commons/6/62/Grafico_3_-_Rela%C3%A7%C3%A3o_entre_IMC_e_o_grau_de_incontin%C3%AAncia_urin%C3%A1ria.png" alt="gráfico">
</ion-card>

<ion-button expand="block" fill="outline" (click)="alertaEntrada()">Calcular IMC</ion-button>
</ion-content>
