.header-content {
    position: absolute;
    display: flex;
    align-items: center;

    img {
        // border-radius: 50%;
        border: 3px solid rgba(82, 255, 229, 0.795);
    }
}

ion-card {
    top: -5em;
    --background: transparent;
    --color: transparent;
    position: relative;
    height: 500px;
    // width: 350px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow:none !important;
    img {
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 180px;
        // border: 7px solid rgba(82, 255, 229, 0.795);
    }
    ion-card-content{
        button{
          font-weight: 400;
          margin-left: 8px;
          margin-top: -4em;
            border-radius: 12px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 1.4em;
            background: linear-gradient(180deg, #67DF61 0%, #0DDA9F 100%);
            color: #ffffff;
            justify-content: center;
            align-items: center;
        }
    }
}

ion-card-content{
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  button{
    width: 134px;
    height: 39px;
    border-radius: 12px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 20px;
            padding-right: 20px;
            font-size: 1.4em;
            background: #FF968E;
            color: #ffffff;
            justify-content: center;
            align-items: center;
  }
}


ion-card-title {
    display: flex;
    justify-content: center;
    --color: #2A282F;
}

ion-card-subtitle {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
    --color: #2A282F;
    border: 2px solid #29E27F;
    width: 120px;
    right: -30px;
    padding: 8px 20px;
    font-weight: 700;
    border-radius: 24px;
}

ion-label{
  margin-top: 0.5em;
  font-family: var(--ion-font-family);
  font-weight: 600;
  font-size: 28px;
}



/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

.header-content {
    position: absolute;
    display: flex;
    align-items: center;

    img {
        border-radius: 50%;
        border: 3px solid rgba(82, 255, 229, 0.795);
    }

}

.background-div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 11px;
  background-color: #d8dbe3;
}
.ui8-design-b {
  position: absolute;
  top: calc(50% - 12px);
  left: 56px;
  line-height: 24px;
  display: inline-block;
}
.check-icon {
  position: absolute;
  top: calc(50% - 20px);
  left: 8px;
  width: 40px;
  height: 40px;
}
.backgroundfilled-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 200px;
  background-color: var(--background-01);
  width: 48px;
  height: 24px;
}
.ellipse-icon {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
}
.togglestyle-01-div {
  position: absolute;
  top: 16px;
  left: 263px;
  width: 48px;
  height: 24px;
  display: none;
}
.profilesettings-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 327px;
  height: 56px;
}
.imc-calc-div {
  top: -120px;
  left: 35px;
  width: 100%;
  height: 56px;
  text-align: left;
  font-size: 16px;
  color: snow;
  font-family: var(--font-inter);
}

.imc-calc-div2 {
  top: -100px;
  left: 35px;
  width: 100%;
  height: 56px;
  text-align: left;
  font-size: 16px;
  color: snow;
  font-family: var(--font-inter);
}

  
 