<ion-header color="transparent">
  <ion-toolbar color="transparent">
        <ion-segment value="user" (ionChange)="segmentChange($event)">
          <ion-segment-button value="user">
            Perfil
          </ion-segment-button>
          <ion-segment-button value="config">
            Config
          </ion-segment-button>
        </ion-segment>
  </ion-toolbar>
</ion-header>



<ion-content *ngIf="this.selectedPage == 'config'">
  <ion-item lines="full">
    <ion-icon slot="start" name="moon"></ion-icon>
    <ion-label>
      Toggle Dark Theme
    </ion-label>
    <ion-toggle id="themeToggle" slot="end"></ion-toggle>
  </ion-item>
</ion-content>

<ion-content *ngIf="this.selectedPage == 'user'">
  <ion-card>
    <ion-card-header>
      <img src="../../../assets/placeholder/01.svg" alt="Foto de perfil">
      <ion-card-title>
        <ion-label>
          {{this.tabsPage.getLoginButtonText()}}
        </ion-label>
      </ion-card-title>
      <ion-card-subtitle *ngIf="this.userAuthService.isLoggedIn == true">Editar Perfil</ion-card-subtitle>
    </ion-card-header>
          <ion-card-content>
            <button routerLink="../../login" *ngIf="this.userAuthService.isLoggedIn !== true" class="ENTRAR">Entrar</button>
            <!-- <button *ngIf="this.userAuthService.isLoggedIn == true" (click)="this.userAuthService.logout();">Sair</button> -->
          </ion-card-content>
  </ion-card>

  <ion-content *ngIf="this.userAuthService.isLoggedIn ==true" class="imc-calc-div" (click)="calcImc()">
    <div class="profilesettings-div">
      <div class="background-div"></div>
      <b class="ui8-design-b">Ajustar IMC</b
      ><img class="check-icon" alt="" src="../../../assets/placeholder/check.svg" />
      <div class="togglestyle-01-div">
        <div class="backgroundfilled-div"></div>
        <img class="ellipse-icon" alt="" src="public/ellipse-5.svg" />
      </div>
    </div>
  </ion-content>
<br> <!-- ATÉ ONDE A PREGUIÇA VAI? ATÉ USAR <br> 😎-->
  <ion-content *ngIf="this.userAuthService.isLoggedIn ==true" class="imc-calc-div">
    <div class="profilesettings-div">
      <div class="background-div"></div>
      <b class="ui8-design-b">Lorem</b
      ><img class="check-icon" alt="" src="../../../assets/placeholder/check.svg" />
      <div class="togglestyle-01-div">
        <div class="backgroundfilled-div"></div>
        <img class="ellipse-icon" alt="" src="public/ellipse-5.svg" />
      </div>
    </div>
  </ion-content>

  <ion-card-content>
    <button *ngIf="this.userAuthService.isLoggedIn == true" (click)="this.userAuthService.logout();" class="sair">Sair</button>
  </ion-card-content>

</ion-content>


