.header-content {
    position: absolute;
    display: flex;
    align-items: center;

    img {
        // border-radius: 50%;
        border: 3px solid rgba(82, 255, 229, 0.795);
    }
}

ion-card {
    --background: white;
    --color: #9efff0;
    position: relative;
    height: 250px;
    // width: 350px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    img {
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        // border: 7px solid rgba(82, 255, 229, 0.795);
    }
    ion-card-content{
        button{
            font-size: 1em;
            background: none;
            color: #1c1c1c;
            justify-content: center;
            align-items: center;
        }
    }
}

ion-card-title {
    display: flex;
    justify-content: center;
    --color: #2A282F;
}

ion-card-subtitle {
    --color: #2A282F;
}

/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

.header-content {
    position: absolute;
    display: flex;
    align-items: center;

    img {
        border-radius: 50%;
        border: 3px solid rgba(82, 255, 229, 0.795);
    }
}

.rectangle-div {
    margin-left: 40px;
    margin-right: 40px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    background-color: #fff;
    width: 320px;
    height: 129px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  }
  .vector-icon {
    position: absolute;
    top: 44.5px;
    left: 28.5px;
    width: 300px;
    height: 1px;
    opacity: 0.05;
  }
  .friends-div,
  .goals-div,
  .health-profile-div {
    margin-left: 40px;
    margin-right: 50px;
    color: black;
    position: absolute;
    left: 18px;
    display: inline-block;
  }
  .health-profile-div {
    top: 96px;
  }
  .friends-div {
    top: 57px;
  }
  .goals-div {
    top: 18px;
  }
  .group-icon {
    top: 98.65px;
  }
  .group-icon,
  .group-icon1,
  .group-icon2 {
    position: absolute;
    left: 340.65px;
    width: 5.06px;
    height: 8.71px;
  }
  .group-icon1 {
    top: 60.65px;
  }
  .group-icon2 {
    top: 20.65px;
  }
  .group-div {
    position: relative;
    width: 100%;
    height: 129px;
    text-align: left;
    font-size: 12px;
    color: #000;
    font-family: "Work Sans";
  }
  