<ion-header color="transparent">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-menu-button>
                      <div class="header-content">
                        <img *ngIf="this.userAuthService.isLoggedIn !== true" src={{this.appComponent.perfilpadrao}} alt="Foto de perfil">
                        <img *ngIf="this.userAuthService.isLoggedIn == true" src={{this.appComponent.pic}} alt="Foto de perfil">
                      </div>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Config</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
        <ion-item lines="full">
          <ion-icon slot="start" name="moon"></ion-icon>
          <ion-label>
            Toggle Dark Theme
          </ion-label>
          <ion-toggle id="themeToggle" slot="end"></ion-toggle>
        </ion-item>
</ion-content>
