.header-content {
    position: absolute;
    display: flex;
    align-items: center;

    img {
        border-radius: 50%;
        border: 3px solid rgba(82, 255, 229, 0.795);
    }
}

ion-card {
    --background: hsla(286, 80%, 50%, 0.589);
    --color: #9efff0;
    position: relative;
    height: 250px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 40px;
    margin-right: 50px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;

    img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 7px solid rgba(82, 255, 229, 0.795);
        margin-right: 14px;
    }

}

ion-card-title {
    --color: #52ffe4;
}

ion-card-subtitle {
    --color: #d1fff8;
}

/* iOS places the subtitle above the title */
ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
}

.header-content {
    position: absolute;
    display: flex;
    align-items: center;

    img {
        border-radius: 50%;
        border: 3px solid rgba(82, 255, 229, 0.795);
    }
}