<ion-header color="transparent">
  <ion-toolbar color="transparent">
        <h2 style="    display: flex;
                        align-content: center;
                        justify-content: center;
                        align-items: center;">User</h2>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="../../../assets/Avatar.svg" alt="Foto de perfil">

      <ion-card-title>
        <ion-label>
          {{this.tabsPage.getLoginButtonText()}}
        </ion-label>
      </ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>