<ion-header color="transparent">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-menu-button>
        <div class="header-content">
          <img *ngIf="this.userAuthService.isLoggedIn !== true" src="../assets/Avatar.svg" alt="Foto de perfil">
          <img *ngIf="this.userAuthService.isLoggedIn == true" src={{this.appComponent.pic}} alt="Foto de perfil">
        </div>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="../../../assets/Avatar.svg" alt="Foto de perfil">

      <ion-card-title>
        <ion-label>
          {{this.appComponent.getLoginButtonText()}}
        </ion-label>
      </ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>