ion-tab-bar {
    bottom: 20px;
    position: relative;
    border-radius: 20px;
    width: 92%;
    margin: 0 auto;
  }
  
  ion-tab-button {
    background: #192126;
    // background: #070417;
    opacity: 100%;
  
    &::before {
      background-color: transparent;
      display: block;
      content: "";
      margin: 0 auto;
      width: 20px;
      height: 2px;
    }
  
    &.tab-selected::before {
    //   background-color: var(--ion-color-primary);
    // background-color: #9933FF;
    background-color: #BBF246;
    }

    &.tab-selected{
        //   background-color: var(--ion-color-primary);
        color: #BBF246;
        }

  }