ion-tab-bar {
    bottom: 20px;
    position: relative;
    border-radius: 16px;
    width: 92%;
    margin: 0 auto;
  }
  
  ion-tab-button {
    background: #171720;
  
    &::before {
      background-color: transparent;
      display: block;
      content: "";
      margin: 0 auto;
      width: 20px;
      height: 2px;
    }
  
    &.tab-selected::before {
    //   background-color: var(--ion-color-primary);
    background-color: #9933FF;
    }

    &.tab-selected{
        //   background-color: var(--ion-color-primary);
        color: #9933FF;
        }

  }