<ion-header>
  <ion-toolbar class="treinoHeader">
    <div>
      <div class="title">
        <ion-title>
          {{exercicio[this.workoutService.treinoAtual-1].nome}}
        </ion-title>
        <p class="quantidadeText">
          {{this.workoutService.treinoAtual}}/{{this.workoutService.count}}
        </p>
      </div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

<img src={{exercicio[this.workoutService.treinoAtual-1].gifUrl}} />
<div>
  {{exercicio[this.workoutService.treinoAtual-1].nome}}
</div>
<div *ngIf="exercicio[this.workoutService.treinoAtual-1].setTemp == 'set'">
  {{exercicio[this.workoutService.treinoAtual-1].num}}
  <ion-button (click)="buttonPausePronto()">Pronto</ion-button>

</div>
<div *ngIf="exercicio[this.workoutService.treinoAtual-1].setTemp == 'temp'">
00:{{this.ss}} 
<ion-button (click)="buttonPausePronto()">Pausa</ion-button>
</div>

</ion-content>
