.telaFinal {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;

    ion-icon {
        height: 50px;
        width: 50px;
    }

    .dados {
        display: flex;
        flex-direction: row;
        gap: 150px;

        div {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
        }
    }
}