@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@700&display=swap');
// Vou colocar a fonte geral dps, só peguei essa afim de teste

.container {
    margin: auto;
    margin-top: 9rem;
    display: flex;
    // width: 36.749125em;
    width: 100%;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.login-template {
    height: auto;
    width: 85%;
    display: flex;
    flex-direction: column;
}

ion-input {
    border: 2px solid #fff;
    opacity: 60%;
    border-radius: 5px;
    margin-bottom: 3%;
}

ion-input:nth-child(1){
    color: black;
    margin-bottom: 27px;
}

ion-input:nth-child(2){
    color: black;
    margin-top: 27px;

}
ion-input:nth-child(3){
    color: black;
    margin-top: 27px;
}


.esqueci{
    font-size: 0.9em;
    font-weight: 600;
    margin-top: 1em;
    margin-left: 15em;
    position: relative;
    color: #6A707C;
    text-decoration: none;
}


.env{
    margin-left: 0.7em;
}

.header-text {
    visibility: hidden;
    font-size: 1.5em;
    margin-top: 1em;
}

.change-template-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #1E232C;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-indent: 0.5em;
}

.change-template{
    margin-top: 15em;
    font-size: 1em;
    text-indent: 0.5em;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    color: #1E232C;

    u{
        font-size: 0.9em;
    }

}


.submit-button {
    height: 4em;
    margin-top: 6%;
    font-size: 13px;
    background-color: #1E232C;
    // background-color: #1E232C;
    border-radius: 0.5em;
    font-family: 'Work Sans', sans-serif;
    color: #fff;
}

.generoRadio{
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        align-items: center;
}

.container .logo{
    width: 120px;
    height: auto;
}

.ul{
    font-family: 'Work Sans', sans-serif;
    // font-style: bold;
    font-weight: 10px;
}

.header{
    // display: grid;
    // justify-content: center;
}

.bem-vindo{
    
    top: 3em;
    position: absolute;
    left: 12%;
    position: relative;
    width: 100%;
    height: 80px;
    text-align: left;
    font-size: 30px;
    color: var(--dark);

            .shape-div,
            .shape-div1 {
            position: absolute;
            top: 21px;
            left: 0;
            background-color: #BBF246;
            width: 71px;
            height: 14px;
            }
            .shape-div1 {
            top: 52px;
            left: 218px;
            }
            .bem-vindo-de {
            margin-block-start: 0;
            margin-block-end: 2px;
            }
            .a-h1,
            .bom-ve-lo-novamente {
            margin: 0;
            }
            .a-h1 {
            position: absolute;
            width: calc(100% - 8px);
            top: 0;
            left: 8px;
            font-size: inherit;
            letter-spacing: -0.01em;
            line-height: 130%;
            font-weight: 700;
            font-family: inherit;
            display: inline-block;
            }
}


  