<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <div class="menu-header-bg"></div>
      <ion-button routerLink="/login" class="header-content" *ngIf="!this.userAuthService.isLoggedIn">
        LogIn
      </ion-button>
      <div *ngIf="this.userAuthService.isLoggedIn == true">
        <div class="header-content" id="popover-button">
          <img src={{this.user.profilePic}} alt="Foto de perfil">
          <ion-label>
            <h1>Bem vindo</h1>
            <h2><b>
                <ion-label color="success">{{getLoginButtonText()}}
                </ion-label>
              </b></h2>
          </ion-label>
        </div>
        <ion-popover class="loginOptions" trigger="popover-button" [dismissOnSelect]="true">
          <ng-template>
            <ion-content>
              <ion-list>
                <ion-item [button]="true" routerLink="/user" [detail]="false">Usuário</ion-item>
                <ion-item [button]="true" [detail]="false" routerLink="/config">Configuração</ion-item>
                <ion-item [button]="true" [detail]="false" (click)="this.userAuthService.logout();">Log out</ion-item>
              </ion-list>
            </ion-content>
          </ng-template>
        </ion-popover>
      </div>
      <ion-content>

        <ion-list id="inbox-list">
          <!-- <ion-list-header class="pinkesh">Times Saúde</ion-list-header>
          <ion-note>Oi Amanda Campbell</ion-note> -->

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
              routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label class="pinkesh">{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        <ion-list id="labels-list">
          <ion-list-header>Lembretes</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label class="pinkesh">{{ label }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>