ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
  --highlight: var(--ion-text-color-highlight);
}

.menu-header-bg{
  margin: 0;
  height: 180px;
  width: 350px;
  background: #8561CD;
  background: linear-gradient(90deg, #a99ac9 0%, #8561CD 100%);
  box-shadow: 0 1px 10px var(--highlight);
}

.header-content{
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;

  img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid rgba(82, 255, 229, 0.795);
    margin-right: 14px;
  }

  h2{
    font-weight: 300;
    color: #fff;
  }

}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

ion-menu.md ion-list#inbox-list {
  border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
}

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
}

ion-menu.md ion-item.selected {
  --background: rgba(117, 206, 197, 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--highlight);
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--highlight);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: var(--highlight);
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--highlight);
}

// .loginOptions {
//   --background: rgba(208, 161, 219, 0.6);
//   --backdrop-opacity: 0.6;
//   --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
//   --color: white;
//   --width: 300px;
// }

// .loginOptions ion-content {
//   --background: rgba(40, 173, 218, 0.6);
// }

ion-popover.loginOptions::part(backdrop) {
  background-color: rgba(170, 119, 190, 0.212);
}