<ion-header>
  <ion-toolbar class="treinoHeader">
    <div>
      <ion-icon class="close" name="close" (click)='back()'></ion-icon>
      <div class="title">
        <ion-title>{{treino.nome}}</ion-title>
        <p class="dificuldadeText">{{treino.dificuldade}}</p>
        <p class="quantidadeText">{{treino.num}} exercícios</p>
      </div>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body">

    <div class="exercicios" *ngFor="let exercicio of treino.exercicios; let i = index">
      <!-- style="background: url({{exercicio.imgUrl}});" -->
      <ion-img class="gif" [src]="exercicio.gifUrl" alt={{exercicio.nome}}></ion-img>
      <div>
        <div class="exercicioName">{{exercicio.nome}}</div>
        <div class="exercicioNum">{{exercicio.num}}</div>
      </div>
    </div>

  </div>

    <div class="ContinuoBtn">
    <ion-button class="btnDegraD" (click)="ComecarContator()">Começar</ion-button>
    </div>
</ion-content>