ion-header::after {
    background-image: none; // Divisória da header, basicamente tira a sombra 
  }
ion-header{
    font-family: var(--ion-head);
    color: #192126;
    h2{
        font-family: var(--ion-head);
        color: var(--text-sec);
        font-weight: 600;
        font-size: 1em;
        font-weight: 500;
    }

    h1{
        color: var(--text-sec);
        font-weight: 900;
        margin-top: -10px;
        margin-left: 0.6em;
        font-size: 1.9em;
    }
}
  
    .carroseu {
        margin-top: 2em;
        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        width: 272px;
        height: 250px;
        font-size: 16px;
        border-radius: 20px;
        
            img {       
                position: absolute;
                width: 100%;
                height: 100%;
                margin: 15px;
                box-sizing: border-box;
                display: flex;
                padding: 8px 8px 12px;
            }

            ion-card-content {
                    position: absolute;
                        // top: 55%;
                        padding-bottom: 121px;
                        color: white;
                        background-color: #b8d7cc5e;
                        font-size: 14px;
                        line-height: 1.5;

                top: 151px;
                border-radius: 20px;
                background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.59) 59.23%, rgba(0, 0, 0, 0.85));
                width: 272px;
                height: 99px;
            }
        }



ion-title {
    position: absolute;
    top: 5px;
    left: 153px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div {
        flex: 1;
        position: relative;
        letter-spacing: 0.2px;
        line-height: 40px;
        font-weight: 500;
        display: inline-block;
    }
}


h2{
        font-family: var(--ion-font-family);
        font-weight: 600;
        color: var(--text-third);
        margin-left: 20px;
}


  ion-searchbar.custom {
    max-width: 300px;
    margin-top: 1em;
    --background: white;
    --color: black;
    --placeholder-color: #8C9093;
    --box-shadow: none !important;
    --icon-color: #8C9093;
    --border-radius: 12px;
    color: #000 !important;
    opacity: 0.7;
    margin-left: 3em;
}

  ion-searchbar.custom::after{
    color: transparent;
    box-shadow: none;
    background-image: none;
  }
 

.date-div {
  left: 6px;
  top: 10px;
    width: 100%;
    height: 64px;
    text-align: center;
    font-size: 14px;
    color: var(--text-sec);
    font-family: var(--font-lato);

  .s-p {
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .p,
  body {
    margin: 0;
  }
  .s-10-div {
    position: relative;
    font-weight: 600;
    display: inline-block;
  }
  .frame-div,
  .frame-div1,
  .frame-div2 {
    color: var(--text-sec);
    margin-top: 0.4em;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 12px;
    background-color: var(--ion-home);
    width: 44.33px;
    display: flex;
    flex-direction: column;
    padding: 6px 14px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .frame-div1,
  .frame-div2 {
    left: 51.23px;
  }
  .frame-div2 {
    left: 101.48px;
    background-color: #192126;
    color: var(--select);
  }
  .frame-div3 {
    left: 151.72px;
  }
  .frame-div3,
  .frame-div4,
  .frame-div5,
  .frame-div6 {
    color: var(--text-sec);
    margin-top: 0.4em;
    position: absolute;
    top: 0;
    border-radius: 12px;
    background-color: var(--ion-home);
    width: 44.33px;
    display: flex;
    flex-direction: column;
    padding: 6px 14px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .frame-div4 {
    left: 202.96px;
  }
  .frame-div5,
  .frame-div6 {
    left: 254.19px;
  }
  .frame-div6 {
    left: 305.42px;
  }
  .ellipse-icon {
    position: absolute;
    top: 58px;
    left: 120.2px;
    width: 5.91px;
    height: 6px;
  }
  .frame-div7 {
    margin-top: 0.4em;
    position: absolute;
    top: 0;
    left: 355.66px;
    border-radius: 12px;
    background-color: var(--ion-home);
    width: 44.33px;
    display: flex;
    flex-direction: column;
    padding: 6px 14px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
}
  
  .image-icon1 {
    border-radius: 23px;
    width: 300px;
    object-fit: cover;
  }
  .image-icon1,
  .overlay-div1,
  .overlay-text-div1 {
    
    position: absolute;
    top: 0;
    height: 174px;
  }
  .overlay-div1 {
    border-radius: 23px;
    background: linear-gradient(91.78deg, rgba(0, 0, 0, 0.51), transparent);
    width: 280px;
  }
  .overlay-text-div1 {
    border-radius: 23px 0 0 23px;
    background: linear-gradient(90.29deg, #353535, rgba(75, 75, 75, 0));
    width: 147px;
  }
  .box-11-icon1 {
    position: relative;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    overflow: hidden;
  }
  .cal-div {
    position: relative;
    line-height: 18px;
    display: inline-block;
  }
  .kcal-div2,
  .minutes-div1 {
    
    position: absolute;
    top: 92px;
    left: 20px;
    border-radius: 9px;
    background-color: rgba(255, 255, 255, 0.8); 
    display: flex;
    flex-direction: row;
    padding: 4px 8px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
  .minutes-div1 {
    top: 128px;
  }
  .ic-play-icon1 {
    position: absolute;
    top: 68px;
    left: 222px;
    width: 38px;
    height: 38px;
  }
  .treino {
    top: 1em;
    left: 13%;
    width: 100%;
    height: 174px;
    font-size: 12px;
    color: #192126;
    font-family: var(--font-lato);
  }
  