<ion-header color="transparent">

  <ion-toolbar color="transparent">
              <h2>Bom Dia👋</h2>
              <h1>Gabriel Bessi</h1>
  </ion-toolbar>
</ion-header>

<ion-content class="timer-card-div">
 
  <ion-searchbar class="custom"></ion-searchbar>
  
<ion-slides pager="false" [options]="slideOpts">
  <ion-slide *ngFor="let article of topHeadlines">
    <ion-card  class="carroseu" style="background-image: url({{article.urlToImage}});     background-size: cover;">
      <!-- <img src={{article.urlToImage}} alt=""/> -->
    
      <ion-card-content>
        <p>{{article.title}}</p>
          <!-- <p>{{article.author}}</p> -->
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>

<h2>Treinos Em Alta</h2>


</ion-content>

