<ion-header color="transparent">
  <!-- <img class="tst" src="../../assets/placeholder/Rectangle 2052.svg"> -->
  <ion-toolbar color="transparent">
            <div class="top">
            <!-- <img class="home" src="../../assets/placeholder/DarkHome.svg">  -->
            </div>
  </ion-toolbar>
</ion-header>

<ion-content class="timer-card-div">
  <div class="card-div"></div>
  <div class="task-div">
    <div class="lorem-div">Lorem</div>
    <img class="ellipse-icon" alt="" src="../../assets/placeholder/ellipse.svg" />
  </div>
  <img class="right-arrow-icon" alt="" src="../../assets/placeholder/right-arrow.svg" />
  <div class="dirio-div">Diário</div>


<!-- <ion-content class="home-page-div"> -->

  <!-- <div class="calender">
<div class="meta-da-semana">Meta Da Semana</div>
<div class="dias-do-semana">0/5</div>
<div class="group-dias">
  <div class="dia-card">
    <div class="card-layout"></div>
    <div class="num">20</div>
    <div class="text">Hoje</div>
  </div>
  <div class="dia-card">
      <div class="card-layoutt"></div>
    <div class="numm">21</div>
    <div class="textt">Ter</div>
  </div>
  <div class="dia-card">
    <div class="card-layout"></div>
    <div class="num">22</div>
    <div class="text">Quar</div>
  </div>
  <div class="dia-card">
    <div class="card-layout"></div>
    <div class="num">23</div>
    <div class="text">Quin</div>
  </div>
  <div class="dia-card">
    <div class="card-layout"></div>
    <div class="num">24</div>
    <div class="text">Sex</div>
  </div>
  <div class="dia-card">
    <div class="card-layout"></div>
    <div class="num">25</div>
    <div class="text">Sab</div>
  </div>
  <div class="dia-card">
    <div class="card-layout"></div>
    <div class="num">26</div>
    <div class="text">Dom</div>
  </div>
</div>
  </div> -->
  
<ion-slides pager="false" [options]="slideOpts">
  <ion-slide *ngFor="let article of topHeadlines">
    <ion-card  class="carroseu" style="background-image: url({{article.urlToImage}});     background-size: cover;">
      <!-- <img src={{article.urlToImage}} alt=""/> -->
    
      <ion-card-content>
        <p>{{article.title}}</p>
          <!-- <p>{{article.author}}</p> -->
      </ion-card-content>
    </ion-card>
  </ion-slide>
</ion-slides>

<ion-content class="treino">

  <h2>Seus Treinos</h2>

</ion-content>

</ion-content>

