ion-header::after {
    background-image: none; // Divisória da header, basicamente tira a sombra 
  }

.home-page-div {
    position: relative;
    width: 100%;
    height: 896px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    font-family: "Work Sans";

    .calender {
        position: relative;
        margin: 15px;
        border-radius: 10px;
        background-color: white;
        height: 114px;

        .meta-da-semana {
            position: absolute;
            top: 12%;
            left: 3%;
            font-size: 13px;
            letter-spacing: 0.2px;
            line-height: 40px;
            font-weight: 500;
            color: #2a282f;
            display: flex;
            align-items: center;
            width: 134px;
            height: 12px;
        }

        .dias-do-semana {
            position: absolute;
            top: 7%;
            left: 92%;
            font-size: 13px;
            letter-spacing: 0.2px;
            line-height: 40px;
            font-weight: 500;
            color: #2a282f;
            display: flex;
            align-items: center;
            width: 377px;
            height: 24px;
        }

        .group-dias {
            position: absolute;
            top: 35%;
            left: 3%;
            display: flex;
            height: 59px;
            width: 391px;
            font-size: 15px;
            color: #000;
            font-family: Inter;
        }

        .dia-card {
            position: relative;
            width: 48.75px;
            height: 59px;
            margin-right: 16px;

            .card-layout {
                position: absolute;
                border-radius: 10px;
                border: 0.5px solid #2a282f;
                box-sizing: border-box;
                width: 48.75px;
                height: 59px;
                opacity: 0.4;
                mix-blend-mode: normal;
            }

            .card-layoutt{
                position: absolute;
                border-radius: 10px;
                box-sizing: border-box;
                width: 48.75px;
                height: 59px;
                opacity: 0.4;
                background: linear-gradient(180deg, #8561CD 0%, #DBA4C4 100%);
            }
            //a poha do child não funciona por algum motivo tmnc
            .numm {
                color: #fff;
                position: absolute;
                left: 15.83px;
                display: inline-block;
                top: 28px;
                line-height: 18px;
                font-weight: 600;
                width: 23px;
            }


            .textt {
                color: #fff;
                position: absolute;
                left: 15.83px;
                display: inline-block;
                top: 11px;
                font-size: 11px;
                line-height: 16px;
                width: 28px;
                opacity: 0.6;
                mix-blend-mode: normal;
            }
        }

            .num {
                position: absolute;
                left: 15.83px;
                display: inline-block;
                top: 28px;
                line-height: 18px;
                font-weight: 600;
                width: 23px;
            }


            .text {
                position: absolute;
                left: 15.83px;
                display: inline-block;
                top: 11px;
                font-size: 11px;
                line-height: 16px;
                width: 28px;
                opacity: 0.6;
                mix-blend-mode: normal;
            }
        }
    }

    .buttonLogin {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 90px;
        margin-right: 100px;
        // padding: 10px 16px;

        .login {
            // position: absolute;
            // top: 111px;
            // left: 156px;

            cursor: auto;
            border: 0;
            // padding: 10px 16px;
            border-radius: 20px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            align-content: center;

            label {
                position: relative;
                font-size: 14px;
                letter-spacing: 0.2px;
                line-height: 20px;
                font-weight: 500;
                font-family: "Work Sans";
                text-align: left;
                display: inline-block;
            }
        }
    }

    .carroseu {

        box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
        width: 262px;
        height: 250px;
        font-size: 16px;

            img {
                
                position: absolute;
                width: 100%;
                height: 100%;
                margin: 15px;
                box-sizing: border-box;
                display: flex;
                padding: 8px 8px 12px;
            }

            ion-card-content {
                    position: absolute;
                        // top: 55%;
                        padding-bottom: 121px;
                        color: white;
                        background-color: #b8d7cc5e;
                        font-size: 14px;
                        line-height: 1.5;

                top: 151px;
                border-radius: 0 0 20px 20px;
                background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.59) 59.23%, rgba(0, 0, 0, 0.85));
                width: 262px;
                height: 99px;
            }
        }



ion-title {
    position: absolute;
    top: 5px;
    left: 153px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div {
        flex: 1;
        position: relative;
        letter-spacing: 0.2px;
        line-height: 40px;
        font-weight: 500;
        display: inline-block;
    }
}

.header-content {
    position: absolute;
    display: flex;
    align-items: center;
}


.top {
    margin-top: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;

    .img1 {
        display: none;
        width: 2.5em;
        margin-right: 4em;
        margin-left: 1em;
    }

    .home {
        padding: 0.4em;
        width: 30%;
    }

    .img3 {
        display: none;
        width: 1.8em;
        margin-left: 6em;
    }
}