.home-page-div {
    position: relative;
    width: 100%;
    height: 896px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
    font-family: "Work Sans";

    .buttonLogin {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 90px;
        margin-right: 100px;
        // padding: 10px 16px;

        .login {
            // position: absolute;
            // top: 111px;
            // left: 156px;

            cursor: auto;
            border: 0;
            // padding: 10px 16px;
            border-radius: 20px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            align-content: center;

            label {
                position: relative;
                font-size: 14px;
                letter-spacing: 0.2px;
                line-height: 20px;
                font-weight: 500;
                font-family: "Work Sans";
                text-align: left;
                display: inline-block;
            }
        }
    }

    .login:hover {
        cursor: pointer;
    }

    .frame-div {
        position: relative;
        margin: 15px;
        // top: 516px;
        // left: 19px;
        border-radius: 12px;
        background-color: rgb(190, 26, 231);
        border: 1px solid var(--background);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 8px 8px 12px;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 8px;

        .placeholder-icon {
            position: relative;
            border-radius: 8px;
            width: 395px;
            height: 200px;
            flex-shrink: 0;
            overflow: hidden;
            z-index: 0;
        }

        .frame-div1 {
            display: flex;
            gap: 6px;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            z-index: 1;

            .title-label {
                cursor: pointer;
                position: relative;
                line-height: 24px;
                display: inline-block;
            }

            .text-medium-div {
                display: flex;
                gap: 6px;
                overflow: hidden;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-size: 14px;

                .iconlylight-outlinelocation {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    flex-shrink: 0;
                }

                .text-label {
                    cursor: pointer;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;

                    .label-div {
                        position: relative;
                        letter-spacing: 0.08px;
                        line-height: 20px;
                        display: inline-block;
                    }
                }
            }
        }

        .icon-button {
            margin: 0 !important;
            position: absolute;
            top: 20px;
            left: 326px;
            border-radius: 4px;
            max-width: 100%;
            overflow: hidden;
            max-height: 100%;
            z-index: 2;
        }
    }

    .selctions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 15px;
        margin-left: 10px;
        margin-right: 10px;
        // position: absolute;
        // top: 194px;
        // left: 16px;
        // width: 382px;
        align-items: flex-start;
        gap: 12px;

        .pills-select {
            border-radius: 20px;
            border: 2px solid #24ce8d;
            box-sizing: border-box;
            overflow: hidden;
            padding: 8px 16px;
            align-items: center;
            gap: 8px;
        }
    }

    .carroseu {
        img {
            position: relative;
            margin: 15px;
            box-sizing: border-box;
            display: flex;
            padding: 8px 8px 12px;
        }
    }
}

ion-title {
    position: absolute;
    top: 5px;
    left: 153px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    div {
        flex: 1;
        position: relative;
        letter-spacing: 0.2px;
        line-height: 40px;
        font-weight: 500;
        display: inline-block;
    }
}