<!-- <ion-header>
  <ion-toolbar>
      <ion-icon name="close" slot="end" size="large" class="ion-padding" (click)="this.modalCtrl.dismiss()"></ion-icon>
    <ion-title>addTreino</ion-title>
  </ion-toolbar>
</ion-header> -->



<ion-content>
  <div class="headerAddTreino">
    <h1 style=" 
                display: flex;
                align-content: center;
                justify-content: center;
                align-items: center;">
      Add Treino
    </h1>
    <ion-icon name="close" slot="end" size="large" class="ion-padding" (click)="this.modalCtrl.dismiss()"></ion-icon>
  </div>


  <ion-card>
    <ion-item class="inputItem">
      <ion-label>Nome do Treino</ion-label>
      <ion-textarea [(ngModel)]="treinoName" placeholder="Escreva o nome do Treino"></ion-textarea>
    </ion-item>

    <ion-item class="inputItem">
      <ion-label>Dificuldade</ion-label>
      <ion-select [(ngModel)]="treinoPriority">
        <ion-select-option value="Fácil">Fácil</ion-select-option>
        <ion-select-option value="Médio">Médio</ion-select-option>
        <ion-select-option value="Avançado" selected>Avançado</ion-select-option>
      </ion-select>
    </ion-item>

    <div class="inputItem" style="
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;"
    >
        <ion-button (click)="addNewExercicio()"> Adicionar Exercicio</ion-button>
    </div>

    <ion-list class="exerciciosItens" *ngIf="exercicios">
      <ion-item class="exercicioItem" *ngFor="let item of exercicios; let i">
        <ion-img class="gif" [src]='item.gifUrl' alt={{item.nome}}></ion-img>
        <ion-label>{{item.nome}}</ion-label>
        <ion-label>{{item.num}}</ion-label>
      </ion-item>

    </ion-list>
  </ion-card>

<div class="ContinuoBtn" >
      <ion-button (click)="addNewTreino()"> Adicionar Treino</ion-button>
</div>
</ion-content>