<ion-header color="transparent">
  <ion-toolbar color="transparent">
    <h2 style="    display: flex;
            align-content: center;
            justify-content: center;
            align-items: center;">Plano de Treino</h2>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h2>
      Seus Treinos
    </h2>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add" (click)="addNewTreino()"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>
  <div>

    <div *ngFor="let treino of treinos; let i = index" class="ion-margin">
      <ion-card class="card" >
        <div (click)="openTreino(treino)">
        <div class="treinoNome">{{treino.nome}}</div>
        <ion-chip class="treinoNum">{{treino.num}} Exercícios</ion-chip>
        <ion-chip  class="treinoNivel">{{treino.dificuldade}}</ion-chip>
      </div>
      <ion-label id={{i}}>
        <ion-icon name="ellipsis-vertical-outline"></ion-icon>
      </ion-label>
      <ion-popover trigger={{i}} side="left" alignment="start">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-item>
              Editar
            </ion-item>
            <ion-item>
              Delete
            </ion-item>
          </ion-content>
        </ng-template>
      </ion-popover> 
      </ion-card>
    </div>

  </div>

</ion-content>