.header-content {
    position: absolute;
    display: flex;
    align-items: center;

    img {
        border-radius: 50%;
        border: 3px solid rgba(82, 255, 229, 0.795);
    }
}

// ion-icon {
//     // background-color: #BBF246;
// }

.card {
    padding: 10px;
    position: relative;
    display: flex;
    border-radius: 23px;
    background: #BBF246;
    width: 90%;
    height: 174px;
    font-size: 12px;
    color: #192126;

    .treinoNome {
        font-size: 24px;
    }

    .treinoNum {
        background: rgba(236, 228, 243, 0.712);
        color: #192126;
    }

    .treinoNivel {
        background: rgba(236, 228, 243, 0.712);
        color: #192126;
    }

    ion-label {
        position: absolute;
        right: 5%;
        top: 12%;
    }
}