/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.cardsList {
    .card {
        padding: 10px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        border-radius: 23px;
        background: linear-gradient(180deg, var(--ion-gradiente-one) 0%, var(--ion-gradiente-two) 100%);
        width: 90%;
        height: 84px;
        font-size: 12px;
        color: #ffffff;

        .icon {
            display: flex;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            background-color: rgb(255, 255, 255);
            border-radius: 100%;

            ion-icon {
                width: 35px;
                height: 35px;
                color: var(--ion-gradiente-two);
            }

            margin-right: 3%;
        }

        .cardNames {
            display: flex;
            flex-direction: column;

            .treinoNome {
                font-size: 24px;
            }

            div {
                display: flex;
                flex-direction: row;

                .treinoNum {
                    background: rgba(236, 228, 243, 0.712);
                    color: #192126;
                }

                .treinoNivel {
                    background: rgba(243, 229, 228, 0.712);
                    color: #9e4141;
                    height: 32px;
                }
            }


        }

        .play {
            height: 25px;
            width: 25px;
            position: absolute;
            top: 44px;
            left: 303px;
        }

        ion-label {
            position: absolute;
            right: 5%;
            top: 12%;
        }
    }
}

.headerAddTreino {
    position: relative;
    font-size: 24px;
    color: var(--ion-head-text-color);
    margin-bottom: 10%;

    h1 {
        font-size: 32px;
        font-weight: 800;
        // font-family: lato;
    }

    ion-icon {
        position: absolute;
        right: 0;
        top: -45%;
    }
}

.inputItem {
    --background: transparent;
}

.exerciciosItens {
    background: transparent;

    .exercicioItem {
        --background: transparent;
        display: flex;

        .gif {
            // --background: transparent;
            height: 200px;
        }

        // ion-label {
        //     --background: transparent;
        // }
    }
}

.ContinuoBtn {
    position: fixed;
    bottom: 3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.btnDegraD {
    --background: linear-gradient(180deg, var(--ion-gradiente-one) 0%, var(--ion-gradiente-two) 100%);
    color: white;
}

ion-toolbar.treinoHeader {
    --ion-toolbar-background: linear-gradient(180deg, var(--ion-gradiente-one) 0%, var(--ion-gradiente-two) 100%);
    height: 113px;

    .title {
        margin-left: 20px;

        ion-title,
        p {
            margin: 0;
            padding: 0;
        }

        ion-title {
            font-weight: 600;
            font-size: 20px;
            line-height: 45px;
            display: flex;
            align-items: center;
            letter-spacing: 0.2px;

            color: #FFFFFF;
        }

        .dificuldadeText {
            font-weight: 600;
            font-size: 15px;
            line-height: 20px;
            display: flex;
            align-items: center;
            letter-spacing: 0.2px;
        }

        .quantidadeText {
            margin-top: 23px;
        }

    }

    .close {
        position: absolute;
        top: 5%;
        right: 1%;
        width: 50px;
        height: 50px;
        z-index: 2;
    }
}