/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

h1 {
    @apply text-4xl
}

h2 {
    @apply text-3xl
}

h3 {
    @apply text-2xl
}

h4 {
    @apply text-xl
}

.cardsList {
    .card {
        @apply p-[10px] relative flex flex-row items-center content-center rounded-3xl bg-gradient-to-b from-primary-default to-secondary-default w-[90%] h-[84px] text-xs text-[#ffffff];

        .icon {
            @apply flex flex-nowrap content-center justify-center items-center w-11 h-11 bg-[#ffffff] rounded-[100%] mr-[3%];

            ion-icon {
                @apply w-9 h-9 text-secondary-default;
            }
        }

        .cardNames {
            @apply flex flex-col;

            .treinoNome {
                @apply text-2xl;
            }

            div {
                @apply flex flex-row;

                .treinoNum {
                    @apply text-[#192126] bg-[#ece4f3b6];
                }

                .treinoNivel {
                    @apply text-[#9e4141] bg-[#f3e5e4b6] h-8;
                }
            }


        }

        .play {
            @apply h-6 w-6 absolute top-11 left-[303px];
        }

        ion-label {
            @apply absolute right-[5%] top-[12%];
        }
    }
}

.headerAddTreino {
    @apply relative text-2xl text-[var(--ion-head-text-color)] mb-[10%];


    h1 {
        @apply text-3xl font-extrabold;
        // font-family: lato;
    }

    ion-icon {
        @apply absolute right-0 top-[-45%];
    }
}

.inputItem {
    --background: transparent;
}

.exerciciosItens {
    background: transparent;

    .exercicioItem {
        --background: transparent;
        @apply flex;

        .gif {
            // --background: transparent;
            @apply h-[200px];
        }

        // ion-label {
        //     --background: transparent;
        // }
    }
}

.ContinuoBtn {
    @apply flex bottom-[3%] w-full fixed items-center justify-center content-center;
}

.btnDegraD {
    --background: linear-gradient(180deg, var(--ion-gradiente-one) 0%, var(--ion-gradiente-two) 100%);
    color: white;
}

ion-toolbar.treinoHeader {
    --ion-toolbar-background: linear-gradient(180deg, var(--ion-gradiente-one) 0%, var(--ion-gradiente-two) 100%);
    @apply h-[113px];

    .title {
        @apply ml-5;

        ion-title,
        p {
            @apply m-0 p-0 ;
        }

        ion-title {
            @apply font-semibold text-xl flex items-center text-[#ffffff];
            line-height: 45px;
        }

        .dificuldadeText {
            @apply font-semibold text-sm flex items-center ;
        }

        .quantidadeText {
            @apply mt-6;
        }

    }

    .close {
        @apply absolute top-[5%] right-[1%] w-12 h-12;
        z-index: 2;
    }
}