<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add Exercicio</ion-title>
  </ion-toolbar>
  <ion-icon name="close" slot="end" size="large" class="ion-padding" (click)="this.modalCtrl.dismiss()"></ion-icon>
</ion-header> -->

<ion-content>

  <div class="headerAddTreino">
    <h1 style=" 
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;">
      Add Exercicio
    </h1>

    <ion-icon name="close" slot="end" size="large" class="ion-padding" (click)="this.modalCtrl.dismiss()"></ion-icon>
  </div>

  <ion-card>
    <ion-item>
      <ion-textarea [(ngModel)]="exercicioName" placeholder="Nome do exercício"></ion-textarea>
    </ion-item>

    <div>
      <ion-item>
        <ion-segment value="set" (ionChange)="segmentSetTimeChange($event)">
          <ion-segment-button value="set">
            <ion-label>Set</ion-label>
          </ion-segment-button>
          <ion-segment-button value="temp">
            <ion-label>Segundos</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-item>

      <ion-item>
        <ion-textarea [(ngModel)]="exercicioNum" placeholder="Insere o valor"></ion-textarea>
      </ion-item>

      <ion-segment value="corpo" (ionChange)="segmentChange($event)">
        <ion-segment-button value="corpo">
          <ion-label>Corpo</ion-label>
        </ion-segment-button>
        <ion-segment-button value="musculo">
          <ion-label>Músculo</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ion-item *ngIf="this.selectedtarget == 'corpo'">
        <ion-label>Partes do corpo deseja treinar</ion-label>
        <ion-select [(ngModel)]="treinoCorpo">
          <ion-select-option *ngFor="let body of bodyParts;" value={{body.value}}>{{body.nome}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="this.selectedtarget == 'musculo'">
        <ion-label>Musculo que deseja treinar</ion-label>
        <ion-select [(ngModel)]="treinoMusculo">
          <ion-select-option *ngFor="let muscle of muscleParts;" value={{muscle.value}}>{{muscle.nome}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button (click)="pesquisarExercicio()">
        Pesquisar Exercício
      </ion-button>
    </div>
    <ion-button (click)="addNewExercicio()">
      Adicionar Exercício
    </ion-button>

    <ion-list *ngIf="exercicios">
      <ion-item *ngFor="let item of exercicios; let i">
        <ion-img class="gif" [src]='item.gifUrl' alt={{item.nome}}></ion-img>
        <ion-label>{{item.name}}</ion-label>
        <ion-button (click)="addNewimg(item.nome,item.gifUrl)">add</ion-button>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>


  </ion-card>
</ion-content>