.addExercicio {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background: linear-gradient(180deg, var(--ion-gradiente-one) 0%, var(--ion-gradiente-two) 100%);
    color: var(--ion-background-color);

}