<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Artigos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Artigo de Saúde</ion-card-title>
    <ion-card-subtitle>Sobre seu IMC</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti velit rerum sequi ducimus iusto reiciendis excepturi obcaecati voluptate enim officiis. Ex temporibus fugiat illo, dolore aliquid aut fugit? Temporibus, veniam?
  </ion-card-content>
</ion-card>
</ion-content>
